:root {
    --font-color: #B6C2CF;
    --margin: 8px;
}

.ticket-tags {
    display:flex;
    gap:0.2em;
}

.ticket-title {
    font-weight:500;
    font-size:12px;
    margin-bottom:var(--margin)
}

.ticket-title, .ticket-number {
    color: var(--font-color);
}

.ticket-group {
    background: #21262A;
    width: 13em;
    padding: 0.7em;
    border-radius: 0.5em;
    position: relative;
    cursor: grab;
    /* margin-bottom:8px; */
}
.ticket-group:hover {
    background-color: #2C3136;
}

.ticket-number {
    font-size:10px;
    font-weight:bold;
}

.ticket-actions {
    position: absolute;
    top: 8px;
    right: 8px;
}

.tag-group {
    width: fit-content;
    padding-inline: 7px;
    padding-block: 2px;
    font-size: 9px;
    font-weight: bold;
    border-radius: 0.2em;
    margin-bottom: 10px;
}